@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');

* {
  font-family: 'Noto Sans CJK SC', 'Literata', system-ui, sans-serif;
}

.App {
  text-align: left;
}

.title-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  padding: 2rem;
}

.clickable-title {
  cursor: pointer;
}
